@charset "utf-8";

* {
    box-sizing: border-box
}

body {
    background-color: #f4f4f4;
    font-family: ibm plex sans jp;
    color: #3a3a3a;
    width: 100%;
    padding-top: 50px
}

.noscroll {
    overflow: hidden
}

::-webkit-scrollbar {
    width: 0;
    height: 5px
}

::-webkit-scrollbar-track {
    background-color: #ccc
}

::-webkit-scrollbar-thumb {
    background-color: #9d9d9d;
    border-radius: 5px
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b7b7b7
}

::-webkit-scrollbar-thumb:active {
    background-color: #525252
}

li {
    list-style-type: none
}

a {
    color: #2a2a2a;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

a:visited {
    color: #2a2a2a
}

.loading {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #141414;
    top: 0;
    left: 0;
    z-index: 100
}

.loadinghiding {
    opacity: 0;
    transition: .5s
}

.loadinghide {
    display: none
}

.analyticsinfo {
    position: fixed;
    bottom: 0;
    width: max-content;
    left: 50%;
    transform: translate(-50%, 10px);
    background-color: #fff;
    box-shadow: 0 0 10px #0000007a;
    border-radius: 10px;
    padding: 10px 20px;
    opacity: 0;
    transition: .5s;
    z-index: -1
}

.wrapper {
    width: 80%;
    height: 50%;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 0 10px #0000002a;
    transition: .25s
}

.wrapper .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%
}

.wrapper .content .content-item img {
    aspect-ratio: 16/9;
    object-fit: contain;
    width: 400px;
    border-radius: 20px;
    background: #fff;
    transition: .25s
}

.wrapper .text h2 {
    font-size: xxx-large;
    font-family: noto sans jp
}

.wrapper .text p {
    font-size: x-large;
    font-family: noto sans jp
}

.topimage {
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, #fff 50%, #ffffff78), #fff url(https://www.pescadogames.com/assets/icons/PGBOT.png);
    padding: 10%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    position: relative
}

@media screen and (max-width: 1366px) {
    .topimage {
        background-repeat: no-repeat;
        background-position-x: 200%
    }
}

@media screen and (max-width: 960px) {
    .topimage {
        background-repeat: no-repeat;
        background-position-x: 50%
    }
}

.introductionbutton {
    background-color: #FFF;
    border: 2px solid #008aff;
    height: 40px;
    width: 100%;
    color: #2a2a2a;
    font-size: 135%;
    border-radius: 10px;
    transition: .25s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 25px;
    cursor: pointer
}

.introductionbutton:visited {
    color: #2a2a2a;
}

.introductionbutton:hover {
    background-color: #21adff;
    border: 2px solid #21adff;
    color: #FFF;
}

.introductionbutton:active {
    background-color: #0062b4;
    border: 2px solid #0062b4;
    box-shadow: 0 0 0 #0000005e
}

.introductionbutton:disabled {
    background-color: #747474;
    box-shadow: 0 0 0 #0000005e;
    cursor: default
}

.show {
    opacity: 1;
    transform: translateY(0)
}

@media screen and (max-width: 960px) {
    .analyticsinfo {
        width: 100%;
        border-radius: 0
    }

    .yokoflex {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .tateflex {
        display: flex;
        flex-direction: column
    }

    .analyticsinfo a {
        color: #00abff
    }

    .analyticsinfo button {
        width: 100%
    }

    .wrapper {
        width: 100%;
        height: 50%;
        margin: 100px 0;
        margin-right: auto;
        margin-left: auto;
        background: #fff;
        border-radius: 25px;
        box-shadow: 0 2px 10px #0000007a;
        transition: .25s
    }

    .wrapper .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column-reverse;
        text-align: center;
        padding: 5%
    }

    .wrapper .content .content-item img {
        aspect-ratio: 16/9;
        object-fit: contain;
        width: 100%;
        border-radius: 20px;
        background: #fff;
        transition: .25s
    }

    .wrapper .text h2 {
        font-size: xx-large;
        word-break: break-word;
        font-family: noto sans jp
    }

    .wrapper .text p {
        font-size: large;
        margin-top: 10px;
        margin-bottom: 20px;
        font-family: noto sans jp
    }
}

.darkthemechangebutton {
    background: #2a2a2a;
    height: 40px;
    width: 150px;
    color: #fff;
    border-radius: 5px;
    transition: .25s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

.darkthemechangebutton:hover {
    background: #4a4a4a
}

.darkthemechangebutton:active {
    background: #191919;
    box-shadow: 0 0 0 0 #0000008c
}

body.darktheme .darkthemechangebutton {
    background: #dcdcdc;
    height: 40px;
    width: 150px;
    color: #000;
    border-radius: 5px;
    transition: .25s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

@media screen and (max-width: 1366px) {
    .darkthemechangebutton {
        width: 100%
    }

    body.darktheme .darkthemechangebutton {
        width: 100%
    }
}

body.darktheme .darkthemechangebutton:hover {
    background: #fff;
    text-decoration: underline
}

body.darktheme .darkthemechangebutton:active {
    background: #bbb;
    box-shadow: 0 0 0 0 #0000008c
}

body.darktheme {
    background-color: #141414;
    color: #fff
}

body.darktheme ::-webkit-scrollbar {
    width: 10px
}

body.darktheme::-webkit-scrollbar-track {
    background-color: #141414
}

body.darktheme::-webkit-scrollbar-thumb {
    background-color: #9d9d9d;
    border-radius: 5px
}

body.darktheme::-webkit-scrollbar-thumb:hover {
    background-color: #b7b7b7
}

body.darktheme::-webkit-scrollbar-thumb:active {
    background-color: #525252
}

body.darktheme .loading {
    background-color: #141414
}

body.darktheme .wrapper {
    background: #191919;
    box-shadow: 0 2px 10px #0a0a0a
}

body.darktheme .wrapper .content .content-item img {
    background: #191919
}