body {
  color: #fff;
  margin: 0;
  padding: 50px;
  font-family: "IBM Plex Sans JP";
  background: linear-gradient(45deg, #000000, #2a2a2a);
}

a {
  color: white;
}

h1 {
  margin-left: 25px
}

h2 {
  margin-left: 25px
}

h3 {
  margin-left: 25px
}

h4 {
  margin-left: 25px
}

h5 {
  margin-left: 25px
}

h6 {
  margin-left: 25px
}
